*{
    margin: 0;
    padding: 0;
}
.ul
,li{
    list-style-type: none;

}
a{
    text-decoration: none;
}
.navbar ul{
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    height: 200px;
    background-color: #D9D9D9;
    margin: auto;
}
.author{
    margin: 0 38px;
}
.blog{
    margin: 0 38px;
}
.book{
    color: #A62B28;
}
div.content{
    max-width: 1180px;
    
}
.picture{
   justify-content: center;
    align-items: center;
    margin: 160px 130px;
}
div.part1{
    margin: 40px 130px ;
    display: flex;
    align-items: center;
}
.part1 h2{
    margin: 40px 30px;
    color: #717276;
    width: 393px;
    height: 51px;
    font-weight: 700px;
    font-size: 32px;
    line-height: 51.48px;
}
section.books{
    display: flex;
    justify-content: center;
    margin: auto;

}
.eka{
    margin: 0 20px;

}
p.name{
    color: #717276;
    font-size: 24px;
    margin: 10px 0;
}
p.title{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}
p.price{
    color: black ;
    margin: 8px 0;
    font-weight: 900;
    
}

div.autor{
    margin: 60px 160px;
    display: flex;
    color: #717276;
    font-size: 22px;
    align-items: center;
    font-weight: 700px;
    
}
h2.week{
    margin: 0 20px;
}

section.photos{
    display: flex;
    align-items: center;
    justify-content: center;
   

}
div.middle{
    margin: 0 20px;
}
div.last{
    margin: 0 20px;
}

section.contact{
    height: 400px;
    margin: 160px 0;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    
}

.icons ul{
    display: flex;
    
}
.icons li{
   color: #000000;
}

.yout{
    margin:0 21px;
}
.instag{
    margin: 0 21px;
}


